@media screen and (max-width: 768px) {
    li a {
        padding: 10px 17px;
        font-size: 15px;
    }
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu_nav{
    background-color: #3c3cf3;
}

.nav{
    height: 15vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.nav .titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 1.3rem;
}

.menu{
    height: 50px;
    width: 50px;
    border: 2px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.menu:hover{
    background-color: white;
}

.bar{
    height: 3px;
    width: 40px;
    background-color: blue;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}

.menu.active .bar:nth-child(1){
    transform: translateY(-11px) rotate(-45deg);
}

.menu.active .bar:nth-child(2){
    opacity: 0;
}

.menu.active .bar:nth-child(3){
    transform: translateY(11px) rotate(45deg);
}

/* menu_desplegable */

.menu_desplegable{
    height: 85vh;
    width: 30vw;
    background-color:  #3c3cf3;
    display: grid;
    place-items: center;
    transform: translateX(100vw);
    transition: 300ms ease-in-out;
}

.click{
    transform: translateX(69vw);
}

.nav_link{
    width: 33vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.link{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.link:hover{
    background-color: purple;
    cursor: pointer;
    color: black;
}